In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Loading
df = pd.read_csv("./sample_data/data_jobs.csv")

In [3]:
# Cleanup
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])

In [23]:
top_countries = df["job_country"].value_counts().head(10).index

df_job_country_salary = df.pivot_table(
    values="salary_year_avg",
    index="job_country",
    columns="job_title_short",
    aggfunc="median",
)

df_job_country_salary = df_job_country_salary.loc[top_countries]

job_titles = ["Data Analyst", "Data Engineer", "Data Scientist"]

df_job_country_salary = df_job_country_salary[job_titles]

df_job_country_salary

job_title_short  Data Analyst  Data Engineer  Data Scientist
job_country
United States         90000.0       125000.0        130000.0
India                100500.0       147500.0        114008.0
United Kingdom        87750.0       110000.0        105300.0
France                69175.0        98301.5         88128.0
Germany              103750.0       147500.0        131560.0
Spain                 91977.0       133000.0         88128.0
Singapore             99500.0        98301.5        131560.0
Sudan                 87500.0       127500.0        130000.0
Netherlands           93852.0        97444.0        157500.0
Italy                 53014.0        97444.0         88614.0