In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast

# Loading
df = pd.read_csv("./sample_data/data_jobs.csv")

In [2]:
# Cleanup
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])
df["job_skills"] = df["job_skills"].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [40]:
df_DA_FR = df[ (df["job_country"] == "France")   & (df["job_title_short"] == "Data Analyst")   ]

In [41]:
df_DA_FR = df_DA_FR.replace(to_replace="Full remote", value="France")

In [42]:
df_plot = df_DA_FR["company_name"].value_counts().head(10).to_frame()

                                             count
company_name
OpenClassrooms                                 204
Carrefour                                      190
Société Générale                               103
Michael Page                                    88
BNP Paribas                                     77
E-Works                                         73
CGI                                             68
Harnham                                         61
Free-Work (ex Freelance-info Carriere-info)     57
Groupe BPCE                                     57